*{
	padding:0;
	margin:0;
}
@function num($n){
	@return $n/20;
}
html,body{
	height:100%;
	background:#f6f6f6;
}
a{
	text-decoration:none;
}
.bdr-bottom{
	height:num(1rem);
	width:100%;
	background:#ddd;
	box-sizing:border-box; //细线解决方案
}
.header{
	height:num(38rem);
	width:100%;
	 background:#fafafa;
	display: flex;

}
.h_left,.h_right{
	height:num(38rem);
	width:num(38rem);
	
}
.h_left{
	background:url(../img/data-image-jpg;base….jpg) no-repeat center center;
	background-size:num(18rem);
}
.h_right{
	background:url(../img/upload_6ikcld7a2ba91958k666ja446bld2_64x60.png) no-repeat center center;
	background-size:num(24rem);

	span{
		font-size:num(12rem);
		color:#666;
		margin-left:num(-20rem);
		display: block;
		line-height: num(38rem);
	}
}
.h_center{
	flex:1;
	text-align:center;
	color:#666;
	line-height:num(38rem);
	font-size:num(16rem);
}
.lq{
	height:num(33rem);
	margin-top:num(13rem);
	background:#fefefe;
	color:#666;
	span{
		font-size:num(12rem);
		display:inline-block;
		vertical-align: top;
		line-height: num(33rem);
	}
	span:nth-of-type(2){
		float:right;
		margin-right:num(14rem);
	}
}
.lq_yj{
		border:num(1rem) solid #ddd;
		height:num(16rem);
		width:num(16rem);
		border-radius:50%;
		display:inline-block;
		margin-left:num(13rem);
		margin-right:num(6rem);
		vertical-align: middle;
	}
.bbxq{
	height:num(108rem);
	width:100%;
	display:flex;

	background:#fefefe;
	.bbxq_img{
		width:num(55rem);
		height:num(82rem);
		background:yellow;
		margin-top:num(13rem);
		margin-left:num(9rem);
		img{
			width:100%;
		height:100%;
		}
	}
	.lq_yj{
		margin-top:num(34rem);
	}
}
.bbxq_right{
	font-size:num(12rem);
	flex:1;
	padding:num(14rem);
	a{
		color:#5e5e5e;
		font-weight: bold;
	}
	p{
		color:#999999;
	}
	.bbxq_jg{
		margin-top:num(20rem);
		span:first-child{
			color:#333;
		}
		span:nth-of-type(2){
			float:right;
		}
	}
}
.kbz{
	height:num(331rem);
	width:100%;
}
.footer{
	height:num(42rem);
	width:100%;
	line-height:num(42rem);
	font-size:num(12rem);
	background:#fefefe;
	.qjs{
		height: num(29rem);
		width:num(85rem);
		border-radius:num(2rem);
		background:#ff5777;
		float:right;
		margin-right:num(19rem);
		margin-top:num(8rem);
		text-align: center;
		line-height: num(29rem);
		color:#fff;

	}
	span:nth-child(2){
		color:#666;
	}
	span:nth-child(3){
		color:#ff5777;
	}
}